[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
plotly = "*"
marshmallow = "*"
jinja2 = "*"
pandas = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
pytest = "*"
pylint = "*"
setuptools = "*"

[requires]
python_version = "3.13"
