<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>QuantDash</h1>
    </header>
    {% include "partials/nav.jinja2" %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>